@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E2E2E2;
}

header {
  background-color: #FFFFFF;
  font-family: "Raleway", serif;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

header > nav > .logo {
  display: flex;
  align-items: center;
}

header > nav > .logo > span {
  font-family: "Raleway", serif;
  color: #150E06;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 800;
}

header > nav > ul > li {
    list-style-type: none;
    display: inline;
    margin: 0 1.5rem;
}

header > nav > ul > li > i {
  font-size: 1rem;
  color: #333333;
}

header > nav > ul > li > a {
  font-size: 1rem;
  text-decoration: none;
  color: #333333;
}

header > nav > ul > li > a.active {
  color: #7C4EE4;
}

header > nav > ul > li > a.button {
  background-color: #7C4EE4;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 8px;
  height: 56px;
  width: 180px;
}

.hero {
  background-image: url(../src/assets/bottom-vector.png), url(../src/assets/bottom-vector.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-color: #7C4EE4;
  color: #FFFFFF;
  font-family: "Raleway", serif;
  display: flex;
  align-items: start;
  padding: 7rem 4rem;
  gap: 5rem;
}

.hero > .hero-text {
}

.hero > .hero-text > h5 {
  margin-bottom: 3rem;
}

.hero > .hero-text > h1 {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.hero > .hero-text > p {
  font-size: 1rem;
  margin-bottom: 3rem;
  line-height: 200%;
}

.hero > .hero-text > a {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #333333;
  padding: 10px 20px;
  border-radius: 8px;
  height: 56px;
  width: 180px;
}

.features {
  width: 100%;
  padding: 7rem 4rem;
  box-sizing: border-box;
}

.features > .feature {
  position: relative;
}

.features > .feature > .featured-img  {
  width: 100%;
  height: 576px;
  border-radius: 1rem;
  flex-shrink: 0;
  background-color: yellow;
}

.features > .feature > .featured-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.features > .feature > .featured-post {
  font-family: "Raleway", serif;
  position: absolute;
  height: 360px;
  width: 960px;
  padding: 3rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  top: 60%;
  right: 0;
}

.features > .feature > .featured-post > .header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.features > .feature > .featured-post > .header > span {
  color: #333333;
  margin-left: 1rem;
}

.features > .feature > .featured-post > h2 {
  margin-bottom: 2rem;
}

.features > .feature > .featured-post > p {
  margin-bottom: 2rem;
  line-height: 200%;
}

.features > .feature > .featured-post > a {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #7C4EE4;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #7C4EE4;
  height: 56px;
  width: 180px;
}

.latest {
  font-family: "Raleway", serif;
  height: 500px;
  width: 100%;
  padding: 7rem 4rem;
}

.latest > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.latest > .header > a {
  text-decoration: none;
  background-color: #7C4EE4;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #7C4EE4;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "item1 item1 item1"
    "item2 item3 item4";
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 2rem; /* Adjust gap between grid items if needed */
}

.grid-item {
  background-color: lightgray;
  border: 1px solid #ccc;
  /* padding: 20px;
  text-align: center; */
}

.item1 {
  grid-area: item1;
  display: flex;
  align-items: start;
}

.item1 > .item1-img {
  width: 100%;
  max-width: 712px;
  height: 456px;
  flex-shrink: 0;
  /* border-radius: 1rem; */
}

.item1 > .item1-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.item1 > .item1-content {
  font-family: "Raleway", serif;
  padding: 3rem;
  border-radius: 1rem;
}

.item1 > .item1-content > .header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.item1 > .item1-content > .header > span {
  color: #333333;
  margin-left: 1rem;
}

.item1 > .item1-content > h2 {
  margin-bottom: 2rem;

}

.item1 > .item1-content > p {
  margin-bottom: 2rem;
  line-height: 200%;
}

.item1 > .item1-content > a {
  text-decoration: none;
  color: #7C4EE4;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #7C4EE4;
  height: 56px;
  width: 180px;
}






.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}



