@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E2E2E2;
}

header {
  background-color: #FFFFFF;
  font-family: "Raleway", serif;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

header > nav > .logo {
  display: flex;
  align-items: center;
}

header > nav > .logo > span {
  font-family: "Raleway", serif;
  color: #150E06;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 800;
}

header > nav > ul > li {
    list-style-type: none;
    display: inline;
    margin: 0 1.5rem;
}

header > nav > ul > li > i {
  font-size: 1rem;
  color: #333333;
}

header > nav > ul > li > a {
  font-size: 1rem;
  text-decoration: none;
  color: #333333;
}

header > nav > ul > li > a.active {
  color: #7C4EE4;
}

header > nav > ul > li > a.button {
  background-color: #7C4EE4;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 8px;
  height: 56px;
  width: 180px;
}

/* header > nav > ul > li > a.button:before{
  background: #7C4EE4;
  height: 150px;
  width: 200px;
  top: 100%;
  left: 100%;
  transition:  all 0.7s;
}

header > nav > ul > li > a.button:hover::before {
  top: -30px;
  left: -30px;
}

header > nav > ul > li > a.button:active::before{
  background: #7C4EE4;
  transition: background 0s;
} */

.hero {
  background-image: url(../src/assets/bottom-vector.png), url(../src/assets/bottom-vector.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-color: #7C4EE4;
  color: #FFFFFF;
  font-family: "Raleway", serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  /* gap: 1.5rem; */
  /* display: flex;
  align-items: start; */
  padding: 7rem 4rem;
  gap: 5rem;
}

.hero > .hero-text {
}

.hero > .hero-text > h5 {
  margin-bottom: 3rem;
}

.hero > .hero-text > h1 {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.hero > .hero-text > p {
  font-size: 1rem;
  margin-bottom: 3rem;
  line-height: 200%;
}

.hero > .hero-text > a {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #333333;
  padding: 10px 20px;
  border-radius: 8px;
  height: 56px;
  width: 180px;
}

.hero > .hero-image {
  width: 100%;
  max-width: 608px;
}

.hero > .hero-image img {
  width: 100%;
}

.features {
  width: 100%;
  padding: 7rem 4rem;
  box-sizing: border-box;
}

.features > .feature {
  position: relative;
}

.features > .feature > .featured-img  {
  width: 100%;
  height: 576px;
  border-radius: 1rem;
  flex-shrink: 0;
  background-color: yellow;
}

.features > .feature > .featured-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.features > .feature > .featured-post {
  font-family: "Raleway", serif;
  position: absolute;
  height: 360px;
  max-width: 960px;
  width: 100%;
  padding: 3rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  top: 60%;
  right: 0;
}

.features > .feature > .featured-post > .header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.features > .feature > .featured-post > .header > span {
  color: #333333;
  margin-left: 1rem;
}

.features > .feature > .featured-post > h2 {
  margin-bottom: 2rem;
}

.features > .feature > .featured-post > p {
  margin-bottom: 2rem;
  line-height: 200%;
  color: #666666;
}

.features > .feature > .featured-post > a {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #7C4EE4;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #7C4EE4;
  height: 56px;
  width: 180px;
}

.latest {
  font-family: "Raleway", serif;
  width: 100%;
  padding: 7rem 4rem;
}

.latest > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.latest > .header > a {
  text-decoration: none;
  background-color: #7C4EE4;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #7C4EE4;
}

/* .grid-container {
  display: grid;
  grid-template-areas:
    "item1 item1 item1"
    "item2 item3 item4";
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}


.latest > .grid-container .grid-item:nth-child(1){
  grid-column: 1/13;
  grid-row: 1;
  display: flex;
  align-items: start;
}

.latest > .grid-container .grid-item:nth-child(2){
  grid-column: 1/5;
  grid-row: 2;
}

.latest > .grid-container .grid-item:nth-child(3){
  grid-column: 5/9;
  grid-row: 2;
}

.latest > .grid-container .grid-item:nth-child(4){
  grid-column: 9/13;
  grid-row: 2;
}

.latest > .grid-container .grid-item:nth-child(1).item > .item-img {
  width: 100%;
  max-width: 712px;
  height: 456px;
  flex-shrink: 0;
}

.item > .item-img {
  width: 100%;
  max-width: 400px;
  height: 360px;
  flex-shrink: 0;
  margin-bottom: 1.5rem;
}

.item > .item-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.latest > .grid-container .grid-item:nth-child(1).item > .item-content {
  font-family: "Raleway", serif;
  padding: 3rem;
  border-radius: 1rem;
}

.item > .item-content > .header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.item > .item-content > .header > span {
  color: #333333;
  margin-left: 1rem;
}

.item > .item-content > h2 {
  margin-bottom: 2rem;

}

.item > .item-content > p {
  margin-bottom: 2rem;
  line-height: 200%;
}

.latest > .grid-container .grid-item:nth-child(1).item > .item-content > a {
  text-decoration: none;
  color: #7C4EE4;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #7C4EE4;
  height: 56px;
  width: 180px;
}

.item > .item-content > a {
  text-decoration: underline;
  color: #7C4EE4;
}

.popular {
  font-family: "Raleway", serif;
  width: 100%;
  padding: 7rem 4rem;
}

.popular > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.popular > .header > a {
  text-decoration: none;
  background-color: #7C4EE4;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #7C4EE4;
}

.popular > .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 1.5rem;
}

.popular > .grid-container > .item > .item-content > p {
  margin-bottom: 2rem;
  line-height: 200%;
}

footer {
  text-align: center;
}

footer > .footer-one {
  background-color: #7C4EE4;
  font-family: "Raleway", serif;
  line-height: 200%;
}

footer > .footer-one > div > input {
  font-family: "Raleway", serif;
}

@media screen and (max-width: 900px) {
  .hero {
    padding: 3rem 1.5rem;
  }
}



